__pycache__/
*.pyc
*.pyo
*.pyd
config/.env
*.bak
*.log
.env
opus-chat/
opus-chat/
*.yaml
*.yml
!docker/swarm-stack.yml
!docker/docker-compose.yml
config/
*.env
*private*
*secret*
*credentials*
argos-mobile/apk/
argos-mobile/apk/
**/*.apk
context_v4.*.txt
skills/import/done/
opus-chat/
